#toc {
  background-color: $toc-background-color;
  padding: 10px 20px 20px 20px;

  ul {
    list-style-type: decimal;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    font-size: 16px;
    line-height: 26px;
    color: $toc-font-color;
    ul {
      list-style-type: disc;
      font-size: 14px;
      line-height: 24px;
    }
  }
  a {
    color: $toc-font-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

