// General
$link-color: #1ba4d8;
$border-color: #e3e3e3;
$header-background-color: #f2f9fe;
$page-title-font-color: #1d78a6;

// Alerts
$info-color: #0f99dd;
$info-background-color: #c5eafc;

$success-color: #2dd62d;
$success-background-color: #d1f9d1;

$warning-color: #f3d22d;
$warning-background-color: #faf1c5;

$danger-color: #bf3124;
$danger-background-color: #ffe5e3;

$todo-color: #808080;
$todo-background-color: #e5e5e5;

// Nav
$nav-header-font-color: #353535;

$nav-main-link-color: $link-color;
$nav-main-icon-color: #484848;
$nav-main-icon-hover-color: #6c6c6c;
$nav-main-level-1-even-background-color: #e9e9e9;
$nav-main-level-1-odd-background-color: #f0f0f0;
$nav-main-level-1-font-color: #5f5f5f;



$nav-main-level-2-even-background-color: #fafafa;
$nav-main-level-2-odd-background-color: #fdfdfd;
$nav-main-level-2-hover-background-color: #444444;
$nav-main-level-2-active-background-color: #ffffff;
$nav-main-level-2-active-border-color: #da1111;

// Buttons
$button-download-border-color: #1191d0;
$button-download-font-color: #ffffff;
$button-download-gradient: linear-gradient(0deg, #0f99dd 0%, #2db0f0 100%);


// Code Blocks
$code-background-color: #f7f7f7;
$code-border-color: #e3e3e3;
$code-line-numbers-background-color: #e8e8e8;
$code-line-numbers-font-color: #5f5f5f;


// TOC
$toc-background-color: #565859;
$toc-font-color: #e0e0e0;
