#nav-header {
  display: inline-block;
  ul {
    padding: 0;
    margin: 31px 10px 31px 10px;
  }
  li {
    display: inline-block;
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    text-decoration: none;
    font-weight: 400;
    color: $nav-header-font-color;
    font-size: 20px;
    &:hover {
      text-decoration: underline;
    }
  }
}